// Desktops
@media (min-width: 1200px) {

}

// Small desktops
@media (max-width: 1199px) {
	
	.gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item {max-width: 31.33%;}

}

// Tablets and down
@media (max-width: 991px) {


}

// Tablets and up
@media (min-width: 992px) {


}

@media (min-width: 768px){

	.nx-modal .modal-dialog{width:90%;max-width:900px;}

}

// Tablets only
@media (min-width: 992px) and (max-width: 1199px) {


}

// Mobile phones
@media (max-width: 768px) {
	
	.gallery-columns-3 .gallery-item, .gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item {max-width: 48%;}

}

// Tablets only
@media (min-width: 768px) and (max-width: 992px) {

}

@media (max-width: 767px) {

	// Footer
	.nx-footer .nx-copyright .nx-left					{text-align: center;}
	.nx-footer .nx-copyright .nx-right					{text-align: center;}
	.nx-footer .nx-copyright .nx-right a				{padding:5px 0;}
	.nx-footer .nx-copyright .list-inline				{margin-left: 0;}
	.nx-footer .nx-copyright .list-inline > li			{display:block;padding:0;margin:5px 0;}

}

// Mobile phones
@media (max-width: 500px) {

}