// Text colors
$primary-color: #777;
$secondary-color: #333333;
$dark-color: #000;
$light-color: #fff;

// Background colors
$primary-bg-color: #f2f2f2;
$secondary-bg-color: #f8f8f8;
$light-bg-color: #f8f8f8;
$dark-bg-color: #777;

// Fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto Slab', serif;
$tertiary-font: 'Open Sans', sans-serif;